<h1>LOGIN</h1>

<form>
	<fieldset>
		<label>Username</label>
		<input id="username" />	
	</fieldset>
	<fieldset>
		<label>Password</label>
		<input id="password" type="password" />
	</fieldset>
	<button>Login</button>
</form>